<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>au.edu.monash.merc.kashgar</string>
	<key>CFBundleIdentifier</key>
	<string>au.edu.monash.merc.kashgar</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericApp.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>MainClass</key>
		<string>au.edu.monash.merc.kashgar.image.MacMain</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/kashgar.jar</string>
			<string>$JAVAROOT/commons-lang-2.3.jar</string>
			<string>$JAVAROOT/Entagged-0.35.jar</string>
			<string>$JAVAROOT/hsqldb.jar</string>
			<string>$JAVAROOT/it.tidalwave.imageio.raw-1.6.1.jar</string>
			<string>$JAVAROOT/jai_codec.jar</string>
			<string>$JAVAROOT/jai_core.jar</string>
			<string>$JAVAROOT/jdom.jar</string>
			<string>$JAVAROOT/log4j-1.2.15.jar</string>
			<string>$JAVAROOT/metadataExtractor.jar</string>
			<string>$JAVAROOT/mlibwrapper_jai.jar</string>
			<string>$JAVAROOT/registry.jar</string>
			<string>$JAVAROOT/squareness.jar</string>
			<string>$JAVAROOT/xmpcore.jar</string>
		</array>
	</dict>
</dict>
</plist>
